body{
    background-position: center;
    background-size: cover;
}
.header{
    width: 100%;
    margin: 0px;
    font-size: large;
}
.input_class{
    margin: 5px;
    border-radius: 5px;
    width: 20%;
    color: rgb(0, 110, 255);
    background-color: rgb(255, 187, 0);
    border: 4px solid rgb(119, 0, 255);
    font-weight: bold;
}
.object_name_label{
    font-weight: bold;
    font-size: 15px;
}
canvas{
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 15px 15px 20px rgb(0, 255, 255);
    margin-left: 125px;
}
p{
    color: black;
    margin-bottom: 0px;
    font-size: small;
}
#heading{
    width: 100%;
    box-shadow: 0px 10px 40px rgb(0, 255, 234);
    background: linear-gradient(to right, rgb(255, 0, 106) 25%, rgb(0, 132, 255) 50%, rgb(0, 255, 179) 75%, rgb(51, 255, 0) 100%);
}
#start_button_id{
    background-color: rgb(0, 102, 255);
    border-width: 4px;
    border-color: rgb(0, 255, 221);
}